<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Agregar Estudio</title>
</head>

<body>
    <header>
        <nav th:replace="~{components/navbar :: nav_bar}"></nav>
    </header>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/guardarEstudio}" method="post" enctype="multipart/form-data">
                            <!-- para añadir la imagen -->
                            <div class="row g-3">
                                <input type="hidden" name="id" th:value="${estudio.id}" />
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre: </label>
                                    <input type="text" class="form-control" id="nombre" th:field="${estudio.nombre}">
                                </div>
                                <div class="row m-3">
                                    <div class="col-md-6">
                                        <button class="btn btn-secondary" type="reset">Resetear
                                            Formulario
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>